@import '../../sass/config';
@import '../../sass/utilities';

.user-container {
  @include baseContainer;
  background-image: url("/imgs/green-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    margin-top:80px;
    padding:20px;
    font-size:3rem;
    font-family: $primary-font;
  }

  table {
    height:70%;
    width:70%;
  }
}

.user-table-row {
  border:thick solid black;
}

#table-data-1 {
  width:20%;
  text-align: center;
  border-right: thin solid black;
  padding:2px;
}

#table-data-2 {
  font-size: 1.5rem;
  padding:5px;
}

#table-data-3 {
  width:5%;

  button {
    background: transparent;
    border:none;
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

#user-empty {
  @include baseContainer;
  background: $primary-color;
  font-family: $secondary-font;
  font-weight: bolder;

  h2 {
    font-size: 3rem;
    padding: 50px;
  }

  p {
    font-size: 1.25rem;
  }
}