@import '../../sass/config';
@import '../../sass/utilities';

.admin-container {
  @include baseContainer;

  h1 {
    position: absolute;
    top:40px;
    font-size: 2rem;
    font-family: sans-serif;
    color:white;
    padding: 5px;
  }

  table {
    display: flex;
    justify-content: center;
    width:90%;
  }
}

.admin-table-row {
  color:white;
  border: thin solid $primary-color;

  th {
    border: thin solid $primary-color;
    font-size:1.25rem;
    padding: 5px;
    text-decoration: underline;
  }

  td {
    border: thin solid $primary-color;
    padding: 5px;
  }
}

