@import '../../sass/config';

.admin-container {
  background:black;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;

  h1 {
    color:white
  }

  table {
    border: thin solid $primary-color;
  }
}

.delete-me-test-data {
  color:white;
  border: thin solid $primary-color;

  th {
    border: thin solid $primary-color;
  }

  td {
    border: thin solid $primary-color;
  }
}