@import '../../sass/config';

.home-container {
  height:100vh;
  width:100vw;
  background-image: url("/imgs/387503.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section{
    height:60%;
    width:80%;
    overflow:scroll;
    overflow-x: hidden;
    background: black;

    ul {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      color:white;
      font-size: 2rem;
      height: 40%;
      border-bottom: thin solid $primary-color;

      button {
        background: $primary-color;
        border:none;
        border-radius: 5%;
        height:30px;
        width:10%;
        font-family: $primary-font;
        font-weight: bolder;
        font-size:1.25rem;
        letter-spacing: 0.1rem;
        margin-right: 20px;
      }

      button:hover {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
  }
}

#home-img-container {
  width: 30%;
  height:100%;
}