@import '../../sass/config';
@import '../../sass/utilities';

.home-container {
  @include baseContainer;
  background-image: url("/imgs/387503.jpg");

  header {
    display: flex;
    justify-content: space-between;
    width: 40%;
    height: 5%;
    padding: 5px;

    :first-child {
      width:65%;
      height: 100%;
    }

    :nth-child(2) {
      width:30%;
      height: 100%;
    }
  }

  section{
    height:60%;
    width:80%;
    overflow:scroll;
    overflow-x: hidden;
    background: black;

    ul {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      color:white;
      font-size: 2rem;
      height: 40%;
      border-bottom: thin solid $primary-color;

      button {
        background: $primary-color;
        border:none;
        border-radius: 5%;
        height:30px;
        width:10%;
        font-family: $primary-font;
        font-weight: bolder;
        font-size:1.25rem;
        letter-spacing: 0.1rem;
        margin-right: 20px;
        transition: all .3s ease-out;
      }

      button:hover {
        cursor: pointer;
        font-style: italic;
        transform: scale(1.3);
      }
    }
  }
}

#home-search-input {
  width:100%;
  height:90%;
  border: thin solid black;

  &::placeholder {
    color: black;
    padding-left: 5px;
  }
}

#home-search-button {
  color: $primary-color;
  background: black;
  border:thin solid $primary-color;
  border-radius: 5%;
  height: 100%;
}

#home-search-button:hover {
  cursor: pointer;
  color:black;
  background-color: $primary-color;
  border:thin solid black;
  transition: background-color 0.5s;
}

#home-img-container {
  width: 25%;
  height:100%;
  transition: all .4s ease-in-out;
}

#home-img-container:hover {
  padding-left:20px;
  transform: scale(1.5)
}

@media (max-width: $media-desktop) {
  .home-container > section > ul {
    height: 20%;
  }

  .home-container header {
    width:80%;
  }
}

@media (max-width: $media-mobile) {
  .home-container {
    li {
      font-size: 0.75rem;
    }

    section > ul > button {
      font-size: 1rem;
      margin-right: 0;
      width:20%;
    }
  }
}