@import '../../sass/config';

.contact-container {
  height:100vh;
  width:100vw;
  background-image: url("/imgs/1b55e4bdb4fc6051382e370bf26d5a59.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-box {
  background: $primary-color;
  height: 60%;
  width: 25%;
  border:thick solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
    font-family: $primary-font;
    position: relative;
    top:-50px;
  }

  form {
    justify-content: center;
    height:40%;
    width:100%;
  }
}

.contact-inputs {
 
  div {
   padding:5px;
   display:flex;
   justify-content: center;
 }

  input {
    text-align: center;
    height: 25px;
    border: thin solid black;

    &::placeholder {
      color:black;
      font-weight: bold;
    }

    &:focus::placeholder {
      color:transparent;
    }
  }
}

#contact-form {
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width:75%;
    height:100px;
    margin-top: 15px;
    border: thin solid black;
    text-align: center;

    &::placeholder {
      color:black;
      font-weight: bold;
    }

    &:focus::placeholder {
      color:transparent;
    }
  }
}

#contact-button {
  position: relative;
  top:60px;

  button {
    background:black;
    color: $primary-color;
    border: none;
    border-radius: 5%;
    height:40px;
    width: 80px;
  }

  button:hover {
    cursor: pointer;
  }
}

@media (max-width: $media-desktop){
  #contact-box {
    height: 50%;
    width: 60%;
  }
}

@media (max-width: $media-tablet) {
  #contact-box {
    height: 65%;
  }
}

@media (max-width: $media-mobile) {
  #contact-box h1{
    font-size:30px;
  }
}